PackageIdentifier: punassuming.Poshix
PackageVersion: __VERSION__
InstallerType: zip
NestedInstallerType: portable
NestedInstallerFiles:
  - RelativeFilePath: Poshix-__VERSION__/install.ps1
    PortableCommandAlias: poshix-install
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/punassuming/poshix/releases/download/v__VERSION__/Poshix-__VERSION__.zip
    InstallerSha256: __SHA256__
ManifestType: installer
ManifestVersion: 1.6.0
